# MODUL 4 PYTHON ~ PREPROCESSING DATA

# BEBERAPA TEKNIK UNTUK MENGIMPORT DATA

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Data Kebotakan.csv to Data Kebotakan.csv

In [ ]:
import io #library ini digunakan dalam membantu membaca file yang di uplod
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['Data Kebotakan.csv']))

In [ ]:
df.head()

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,stress,botak_prob
0,27.0,Perempuan,PNS,Bengkulu,7.957453e+06,1.0,0.0,54.315053,170.428542,Pantone,1.0,S1,5.0,0.605974
1,53.0,Perempuan,PNS,Bandung,7.633003e+06,1.0,0.0,72.873404,165.530097,Pantone,0.0,S1,7.0,0.532860
2,37.0,Perempuan,Pegawai swasta,Bandung,6.637625e+06,1.0,0.0,46.321533,154.599388,Moonsilk,0.0,S1,4.0,0.418442
3,36.0,Perempuan,Pengangguran,Palu,3.624871e+06,1.0,0.0,51.539781,167.340481,Deadbuoy,1.0,SD,9.0,0.804050
4,38.0,Laki-laki,Freelance,Palangkaraya,6.031808e+06,1.0,0.0,60.726909,165.514773,Merpati,1.0,S2,1.0,0.368371

In [ ]:
df

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,is_merokok,pendidikan,stress,botak_prob
0,27.0,Perempuan,PNS,Bengkulu,7.957453e+06,1.0,0.0,54.315053,170.428542,Pantone,1.0,S1,5.0,0.605974
1,53.0,Perempuan,PNS,Bandung,7.633003e+06,1.0,0.0,72.873404,165.530097,Pantone,0.0,S1,7.0,0.532860
2,37.0,Perempuan,Pegawai swasta,Bandung,6.637625e+06,1.0,0.0,46.321533,154.599388,Moonsilk,0.0,S1,4.0,0.418442
3,36.0,Perempuan,Pengangguran,Palu,3.624871e+06,1.0,0.0,51.539781,167.340481,Deadbuoy,1.0,SD,9.0,0.804050
4,38.0,Laki-laki,Freelance,Palangkaraya,6.031808e+06,1.0,0.0,60.726909,165.514773,Merpati,1.0,S2,1.0,0.368371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7912,32.0,Laki-laki,Pegawai swasta,Yogyakarta,6.024409e+06,1.0,0.0,44.432438,154.578859,Deadbuoy,0.0,SMA,9.0,0.471229
7913,34.0,Laki-laki,Pegawai swasta,Manado,1.007043e+07,1.0,0.0,49.389914,158.782726,Shoulder & Head,1.0,S1,9.0,0.543821
7914,58.0,Laki-laki,Freelance,Mamuju,8.010815e+06,1.0,0.0,54.351968,154.478087,Deadbuoy,1.0,S2,6.0,0.643453
7915,30.0,NaN,PNS,Palu,9.059906e+06,1.0,0.0,57.646930,163.377717,Deadbuoy,0.0,S1,10.0,0.540056
7916,58.0,Laki-laki,PNS,Banjarmasin,1.769162e+07,1.0,0.0,81.036287,183.054150,Shoulder & Head,1.0,S1,10.0,0.872124

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7917 entries, 0 to 7916
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   umur           7832 non-null   float64
 1   jenis_kelamin  7840 non-null   object
 2   pekerjaan      7760 non-null   object
 3   provinsi       7831 non-null   object
 4   gaji           7843 non-null   float64
 5   is_menikah     7845 non-null   float64
 6   is_keturunan   7828 non-null   float64
 7   berat          7861 non-null   float64
 8   tinggi         7843 non-null   float64
 9   sampo          7858 non-null   object
 10  is_merokok     7847 non-null   float64
 11  pendidikan     7847 non-null   object
 12  stress         7853 non-null   float64
 13  botak_prob     7838 non-null   float64
dtypes: float64(9), object(5)
memory usage: 866.0+ KB

In [ ]:
df.nunique()

umur               71
jenis_kelamin       2
pekerjaan           4
provinsi           34
gaji             7762
is_menikah          2
is_keturunan        2
berat            7779
tinggi           7761
sampo               5
is_merokok          2
pendidikan          6
stress             10
botak_prob       7659
dtype: int64

In [ ]:
import numpy as np

In [ ]:
encoded=['is_menikah', 'is_keturunan', 'is_merokok', 'stress']
categorical=df.nunique()[df.nunique() < 35].keys().tolist()
categorical=np.setdiff1d(categorical,encoded)
categorical=categorical.tolist()
categorical

['jenis_kelamin', 'pekerjaan', 'pendidikan', 'provinsi', 'sampo']

In [ ]:
target=['botak_prop']

In [ ]:
numerical = [x for x in df.columns  if x not in target+categorical+encoded]
numerical

['umur', 'gaji', 'berat', 'tinggi', 'botak_prob']

# Missing Value

In [ ]:
df.isna().sum()

umur              85
jenis_kelamin     77
pekerjaan        157
provinsi          86
gaji              74
is_menikah        72
is_keturunan      89
berat             56
tinggi            74
sampo             59
is_merokok        70
pendidikan        70
stress            64
botak_prob        79
dtype: int64

In [ ]:
df.isnull().sum()

umur              85
jenis_kelamin     77
pekerjaan        157
provinsi          86
gaji              74
is_menikah        72
is_keturunan      89
berat             56
tinggi            74
sampo             59
is_merokok        70
pendidikan        70
stress            64
botak_prob        79
dtype: int64

In [ ]:
import numpy as np

In [ ]:
df['is_menikah'] = df.apply(lambda x: x['umur'] > 30 if np.isnan(x['is_menikah']) else x['is_menikah'], axis=1) #sintax ini digunakan untuk apabila umur lebih 30 akan mencetak dia sudah menikah, apabila kurang dari 30 akan tetap
df.loc[(df.is_menikah.isna())&(df.is_keturunan==1), 'is_menikah']=1; df.is_menikah.fillna(0, inplace=True)

In [ ]:
df['is_keturunan'].fillna(0, inplace=True) #Untuk mengganti data yang kosong pada kolom is_keturunan menjadi 0
df['is_merokok'].fillna(1, inplace=True) #Untuk mengganti data yang kosong pada kolom is_merokok menjadi 1

df['umur'].fillna(df['umur'].mean(), inplace=True) #Mengganti nilai yang kosong pada variabel menggunakan rata-rata, karena variabel datanya numerikal
df['gaji'].fillna(df['gaji'].mean(), inplace=True) #Mengganti nilai yang kosong pada variabel menggunakan rata-rata, karena variabel datanya numerikal
df['berat'].fillna(df['berat'].mean(), inplace=True) #Mengganti nilai yang kosong pada variabel menggunakan rata-rata, karena variabel datanya numerikal
df['tinggi'].fillna(df['tinggi'].mean(), inplace=True) #Mengganti nilai yang kosong pada variabel menggunakan rata-rata, karena variabel datanya numerikal
df['stress'].fillna(df['stress'].mean(), inplace=True) #Mengganti nilai yang kosong pada variabel menggunakan rata-rata, karena variabel datanya numerikal

In [ ]:
df['jenis_kelamin'].mode()

0    Laki-laki
Name: jenis_kelamin, dtype: object

In [ ]:
df['provinsi'].mode()

0    Kupang
Name: provinsi, dtype: object

In [ ]:
df['jenis_kelamin'].fillna(df['jenis_kelamin'].mode()[0], inplace=True) #Mengganti nila yang kosong pada variabel menggunakan modus, karena variabel datanya kategorikal
df['provinsi'].fillna(df['provinsi'].mode()[0], inplace=True) #Mengganti nila yang kosong pada variabel menggunakan modus, karena variabel datanya kategorikal
df['sampo'].fillna(df['sampo'].mode()[0], inplace=True) #Mengganti nila yang kosong pada variabel menggunakan modus, karena variabel datanya kategorikal
df['pendidikan'].fillna(df['pendidikan'].mode()[0], inplace=True) #Mengganti nilai yang kosong pada variabel menggunakan modus, karena variabel datanya kategorikal
df['pekerjaan'].fillna(df['pekerjaan'].mode()[0], inplace=True) #Mengganti nila yang kosong pada variabel menggunakan modus, karena variabel datanya kategorikal

In [ ]:
df.isna().sum()

umur              0
jenis_kelamin     0
pekerjaan         0
provinsi          0
gaji              0
is_menikah        0
is_keturunan      0
berat             0
tinggi            0
sampo             0
is_merokok        0
pendidikan        0
stress            0
botak_prob       79
dtype: int64

In [ ]:
df=df.dropna() # menghapus data yang masih kosong

In [ ]:
df.isna().sum()

umur             0
jenis_kelamin    0
pekerjaan        0
provinsi         0
gaji             0
is_menikah       0
is_keturunan     0
berat            0
tinggi           0
sampo            0
is_merokok       0
pendidikan       0
stress           0
botak_prob       0
dtype: int64

In [ ]:
df.shape

(7838, 14)

# Menghapus Duplicated Data

In [ ]:
df.duplicated().sum() # Mengecek banyaknya data yang berduplikasi

81

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.shape

(7757, 14)

# Outliers

## Z-score

In [ ]:
from scipy import stats

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

filtered_entries = np.array([True] * len(df))
for col in ['umur', 'tinggi', 'berat', 'stress']:
    zscore = abs(stats.zscore(df[col]))
    filtered_entries = (zscore < 3) & filtered_entries

df2 = df[filtered_entries]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 7757
Jumlah baris setelah memfilter outlier: 7757

## IQR

In [ ]:
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

filtered_entries = np.array([True] * len(df))
for col in ['gaji', 'umur']:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    low_limit = Q1 - (IQR * 1.5)
    high_limit = Q3 + (IQR * 1.5)

    filtered_entries = ((df[col] >= low_limit) & (df[col] <= high_limit)) & filtered_entries

df = df[filtered_entries]

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 7757
Jumlah baris setelah memfilter outlier: 7403

In [ ]:
df.describe()

,umur,gaji,is_menikah,is_keturunan,berat,tinggi,is_merokok,stress,botak_prob
count,7583.000000,7.583000e+03,7583.000000,7583.000000,7583.000000,7583.000000,7583.000000,7583.000000,7583.000000
mean,39.475128,8.842016e+06,0.973230,0.202822,55.309395,166.956314,0.502835,5.450015,0.574002
std,9.650065,4.467375e+06,0.161422,0.402128,8.176995,10.501512,0.500025,2.855955,0.173565
min,11.000000,1.500000e+06,0.000000,0.000000,40.000000,135.136822,0.000000,1.000000,0.064633
25%,33.000000,5.756326e+06,1.000000,0.000000,49.255608,159.716523,0.000000,3.000000,0.451838
50%,39.492722,7.883985e+06,1.000000,0.000000,53.744419,167.056559,1.000000,5.000000,0.567999
75%,46.000000,1.078421e+07,1.000000,0.000000,59.793821,174.045346,1.000000,8.000000,0.687105
max,68.000000,5.000000e+07,1.000000,1.000000,84.568054,197.528947,1.000000,10.000000,1.000000

In [ ]:
df_num=df[numerical]
df_num

      umur          gaji      berat      tinggi  botak_prob
0     27.0  7.957453e+06  54.315053  170.428542    0.605974
1     53.0  7.633003e+06  72.873404  165.530097    0.532860
2     37.0  6.637625e+06  46.321533  154.599388    0.418442
3     36.0  3.624871e+06  51.539781  167.340481    0.804050
4     38.0  6.031808e+06  60.726909  165.514773    0.368371
...    ...           ...        ...         ...         ...
7830  52.0  4.286318e+06  46.893444  169.880171    0.773141
7831  45.0  8.646146e+06  53.878714  170.122857    0.604058
7832  24.0  6.850066e+06  64.171294  161.384804    0.502413
7833  29.0  1.204960e+07  55.217752  179.602130    0.562664
7834  42.0  4.888239e+06  52.699072  186.913795    0.273705

[7583 rows x 5 columns]

In [ ]:
Q1 = df_num.quantile(0.25)
Q3 = df_num.quantile(0.75)
IQR = Q3-Q1
low_limit=Q1-(IQR*1.5)
HIGH_LIMIT=Q3+(IQR*1.5)

In [ ]:
((df_num < low_limit) | (df_num > HIGH_LIMIT)).any

       umur   gaji  berat  tinggi  botak_prob
0     False  False  False   False       False
1     False  False  False   False       False
2     False  False  False   False       False
3     False  False  False   False       False
4     False  False  False   False       False
...     ...    ...    ...     ...         ...
7830  False  False  False   False       False
7831  False  False  False   False       False
7832  False  False  False   False       False
7833  False  False  False   False       False
7834  False  False  False   False       False

[7583 rows x 5 columns]

In [ ]:
((df_num < low_limit) | (df_num > HIGH_LIMIT))
x['res']=x.any(axis=1)
x

In [ ]:
x[x.res==True]

# Feature Encoding

In [ ]:
for cat in categorical:
    onehots = pd.get_dummies(df[cat], prefix=cat)
    df = df.join(onehots)

In [ ]:
df.sample(5)

,umur,jenis_kelamin,pekerjaan,provinsi,gaji,is_menikah,is_keturunan,berat,tinggi,sampo,...,provinsi_Sofifi,provinsi_Surabaya,provinsi_Tanjung Pinang,provinsi_Tanjungselor,provinsi_Yogyakarta,sampo_Deadbuoy,sampo_Merpati,sampo_Moonsilk,sampo_Pantone,sampo_Shoulder & Head
1607,44.0,Laki-laki,Pegawai swasta,Denpasar,1.253790e+07,1.0,0.0,52.024220,180.039786,Merpati,...,0,0,0,0,0,0,1,0,0,0
80,37.0,Perempuan,Pegawai swasta,Medan,9.552724e+06,1.0,0.0,50.013737,162.939636,Pantone,...,0,0,0,0,0,0,0,0,1,0
5220,46.0,Laki-laki,PNS,Ambon,6.101348e+06,1.0,0.0,47.451669,152.969441,Pantone,...,0,0,0,0,0,0,0,0,1,0
651,62.0,Laki-laki,Pegawai swasta,Mamuju,7.824894e+06,1.0,0.0,60.959444,163.011505,Deadbuoy,...,0,0,0,0,0,1,0,0,0,0
2264,28.0,Laki-laki,Pegawai swasta,Mamuju,7.674548e+06,1.0,0.0,61.220422,181.248582,Moonsilk,...,0,0,0,0,0,0,0,1,0,0